/* element (tag) selectors) */
h1 {
    color:red;

}
p {
   background-color:silver;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}  

/* multiple element (tag) selectors */
h2, h3, h4, h5, h6{
    color:green;
    background-color: #f4f4f4;
    border:3px solid black;
}

/* decentant selectors 
2 parts
element element element .....*/
section aside p{
    background-color: azure;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    font-style: italic;
    font-size:large;
}
/* child combinations 
element- element
parent-child*/
section p{
    font-size: xx-small;
}

/* class selector
syntax for name is .user-name{rules}
you are NOT using element names
classes can be attached to any elements
classes are independent of the element
on html page class-"user-name"[User-name ...]
*/
.box-text{
    border-top:10px solid blue;
    background-color: chartreuse;
}

.color-yellow{
    color:yellow;
}
/* id seleector 
similar to a class selector BUT is suppose to be use only
on the page where as a class may be use multiple times
syntax #user-anme{rules}
on html page id="user-name"
*/